*{
   margin: 0;
   padding: 24px 0;
   font-size: 24px;
   justify-content: space-around;
}

header {
    background-color: #374bbe;
    color: white;
    }

.imagem {
    width: 10%;
 }

.cabecalho {
    background-color: #383d58;
    color: white;
    display: flex;
    justify-content: space-around;
 }

.item {
    color: white;
    display: inline-block;
    margin: 0 16px;
 }

 